/* Styles go here */
* {
  font-family: 'Changa', sans-serif;
  box-sizing: border-box; }

h1 {
  color: green; }

.centered_content {
  z-index: 5;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url("https://basik.ru/images/landscape_nature_19/short_landscape.jpg");
  background-position: center;
  background-size: cover; }

.bg {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8); }

.inner_content {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.top_title {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .top_title h1 {
    color: #fff;
    text-transform: uppercase; }
  .top_title h2 {
    color: #33d6ff;
    text-transform: uppercase; }

.link {
  border: 1px solid #c5c5c5;
  padding: 10px; }
  .link a {
    text-decoration: none;
    padding: 10px; }
  .link a:hover {
    color: #fff;
    font-size: 16px;
    background-color: #ff9900;
    text-decoration: none !important; }
  .link .opacity_container {
    background-color: rgba(0, 0, 0, 0.6) !important; }
